<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feminino</title>
    <link href="/Components/style.css" rel="stylesheet">
    
    
</head>
<body>
    
    <header class="cabecalho">
        <h3>OUTFITS</h3>

    <nav class="cabecalho-menu">
        <a href="/Components/Pagina Principal.html" class="cabecalho-item">Inicio</a>
        <a href="/Components/Masculino.html" class="cabecalho-item">Masculino</a>
        <a href="/Components/Feminino.html" class="cabecalho-item">Feminino</a>
        <a href="#" class="cabecalho-item">Cadastrar</a>
    </nav>
    </header>
    <div class="container-fluid ml-0">
        <img class="below-header" style="margin: -1px -70px" src="https://static.netshoes.com.br/bnn/l_netshoes/2022-11-17/1456_tarja_desk.jpg">
    </div>
    <div class="slider">
        <img class="slider" style="margin: -1px -70px" src="https://static.netshoes.com.br/bnn/l_netshoes/2022-11-17/1798_full_desk.jpg">
    </div>
    <main class="conteudo">

        <section class="conteudo-principal">

            <img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2021/08/produto/7377/statue-flower-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2020/08/produto/4409/air-krusty-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2021/08/produto/7383/fuck-you-rick-and-morty-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2021/09/produto/7586/maluco-preto.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/08/produto/11002/fuck-off-catt.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2020/11/produto/5331/genio-rick-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2020/09/produto/4466/intense-feelings-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/08/produto/11017/onda-vaporwave-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2020/09/produto/4454/astroworld-new-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2020/11/produto/5243/viking-valhalla-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/08/produto/11023/girafaa-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2020/11/produto/5325/turtle-killer-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/08/produto/11019/girassoll-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2020/08/produto/4122/lobo-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/08/produto/11025/astronauta-skatistaa-01.jpg?ims=461x615">
        </section>


    </main>
    <div class="redes-sociais">

        <ul>
    
    
    <li><a href="https://facebook.com.br/"><img src="/Img/facebook.png"></a></li>
    <li><a href="https://twitter.com/"><img src="/Img/twitter.png"></a></li>
    
        </ul>
    
    
    </div>
    </div>
</footer>
</body>
</html>