<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masculino</title>
    <link href="/Components/style.css" rel="stylesheet">
    
    
</head>
<body>
    
    <header class="cabecalho">
        <h3>OUTFITS</h3>

    <nav class="cabecalho-menu">
        <a href="/Components/Pagina Principal.html" class="cabecalho-item">Inicio</a>
        <a href="/Components/Masculino.html" class="cabecalho-item">Masculino</a>
        <a href="/Components/Feminino.html" class="cabecalho-item">Feminino</a>
        <a href="#" class="cabecalho-item">Cadastrar</a>
    </nav>
    </header>
    <div class="container-fluid ml-0">
        <img class="below-header" style="margin: -1px -70px" src="https://static.netshoes.com.br/bnn/l_netshoes/2022-11-17/1456_tarja_desk.jpg">
    </div>
    <div class="slider">
        <img class="slider" style="margin: -1px -70px" src="https://static.netshoes.com.br/bnn/l_netshoes/2022-11-17/1798_full_desk.jpg">
    </div>
    <div class="slider">
    <main class="conteudo">

        <section class="conteudo-principal">

            <img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/08/produto/11012/margedidas.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2021/08/produto/7378/statue-flower.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/09/produto/11095/bolso-de-rosa-mas.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2021/12/produto/8140/saturno-van-gogh.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2021/02/produto/6290/icecream-eyes-01.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2020/08/produto/4090/alien-meditation.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/04/produto/9103/just-relax-2.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/04/produto/9119/preguica-2.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2021/11/produto/8017/caveira-digital-color.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2021/05/produto/6809/nirvana-in-utero.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2021/10/produto/7651/cat-skull-3.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/01/produto/8333/japan-1.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2021/11/produto/8091/vintage-nasa.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/02/produto/8361/artemis-snake.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/08/produto/11007/rainha-abelha.jpg?ims=461x615"
        </section>


    </main>
    <div class="redes-sociais">

        <ul>
    
    
    <li><a href="https://facebook.com.br/"><img src="/Img/facebook.png"></a></li>
    <li><a href="https://twitter.com/"><img src="/Img/twitter.png"></a></li>
    
        </ul>
    
    
    </div>
    </div>
</footer>
</body>
</html>