<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="/Components/style.css" rel="stylesheet">
    
    
</head>
<body>
    
    <header class="cabecalho">
        <h3>OUTFITS</h3>

    <nav class="cabecalho-menu">
        <a href="/Components/Pagina Principal.html" class="cabecalho-item">Inicio</a>
        <a href="/Components/Masculino.html" class="cabecalho-item">Masculino</a>
        <a href="/Components/Feminino.html" class="cabecalho-item">Feminino</a>
        <a href="#" class="cabecalho-item">Cadastrar</a>
    </nav>
    </header>
    <div class="container-fluid ml-0">
        <img class="below-header" style="margin: -1px -70px" src="https://static.netshoes.com.br/bnn/l_netshoes/2022-11-17/1456_tarja_desk.jpg">
    </div>
    <div class="slider">
        <img class="slider" style="margin: -1px -70px" src="https://static.netshoes.com.br/bnn/l_netshoes/2022-11-17/1798_full_desk.jpg">
    </div>
    <main class="conteudo">

        <section class="conteudo-principal">

            <img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/05/produto/9579/lucky-draon-77.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/04/produto/9386/grou-japan-2.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/04/produto/9379/alien-basica.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/05/produto/9574/agood-vibes77.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/05/produto/9640/white-dragon.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2020/12/produto/5988/it-and-morty.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/04/produto/9103/just-relax-2.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2022/04/produto/9119/preguica-2.jpg?ims=461x615">
<img class="conteudo-imagem" src="https://4429028l.ha.azioncdn.net/img/2021/11/produto/8017/caveira-digital-color.jpg?ims=461x615">
        </section>


    </main>
    <div class="redes-sociais">

        <ul>
    
    
    <li><a href="https://facebook.com.br/"><img src="/Img/facebook.png"></a></li>
    <li><a href="https://twitter.com/"><img src="/Img/twitter.png"></a></li>
    
        </ul>
    
    
    </div>
    </div>
</footer>
</body>
</html>